{% load static %}

<div id="mySidenav" class="sidenav">
    <a href="{% url 'index' %}" class="header"><img src="{% static 'images/Group550.png' %}" alt=""></a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="pageName" href="{% url 'profile' %}">Profile</a>
    <a class="pageName" href="{% url 'dashboard' %}">Dashboard</a>
    <a class="pageName" href="{% url 'bank' %}">Bank</a>
    <a class="pageName" href="{% url 'contractprofit' %}">Contracts</a>
    <a class="pageName" href="{% url 'setting' %}">Contract Setting</a>
    
    {% if user.is_authenticated %}
      <a href="javascript:{document.getElementById('logout').submit()}" class="pageName">Logout</a>
      <form action="{% url 'logout' %}" method="POST" id="logout" >
        {% csrf_token %}
        <input type="hidden">
      </form>
      {% endif %}
      
</div>
  <div class="cpHeader">
    <div class="slider">
     <span onclick="openNav()"><img src="{% static 'images/icons8-hamburger-menu-48.png' %}" alt="hamburger"> </span>
    </div>
    <div class="proImg">
      <div class="dropdown">
        <img class="flagLanPro" src="{% static 'images/English.png' %}" alt="language">
        <div class="dropdown-content">
            <div class="flag"><img src="{% static 'images/icons8-turkey-48.png' %}" alt="language"></div>
             <div class="flag"><img src="{% static 'images/icons8-saudi-arabia-48.png' %}" alt="language"></div>
        </div>
      </div>
      {% for account in accounts %}
      {% if account.accountname == user.username %}
      <a href="{% url 'profile' %}"><img class="ImgHeader" src="{{ account.photo.url }}" style="border-radius: 50%;" alt="MaskGroup1"></a>
      {% endif %}
      {% endfor %}
    </div>
 </div>