{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} | {% trans 'Your Dashboard' %}{% endblock %}

{% block content %}
<body>
    <div class="container">
        <!-- Navbar -->
        {% include 'partials/_navbar.html' %}

<div class="mainAbout">
    <div class="Shadow">
        <div class="textAbout">
            <h3>{% trans 'About Us' %}</h3>
            <p> {% trans "Welcome to gold robots! We aim to offer our customers a variety of the latest robots. We’ve come a long way, so we know exactly which direction to take when supplying you with high quality yet budget friendly products. We offer all of this while providing excellent customer service and friendly support, we always keep an eye on the latest trends in robots and put our customers’ wishes first. That’s why we have satisfied customers all over the world and are thrilled to be a part of the robots industry. The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as much as we enjoy making them available to you That is why we have satisfied customers all over the world and are thrilled to be a part of the robots industry.The interests of our customers are always too priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you." %} 
                 </p>
        </div>
        <img class="tower" src="{%  static 'images/khalifa.c5d5cdcc340e1b8739cf.jpg' %}" alt="tower">
    </div>
</div>
<footer class="footerAbout">
    <div class="logo-version">
        <img src="{% static 'images/Layer2.png' %}" alt="Logo">
        <h5>© 2022 All Rights Reserved Goldrobots</h5>
    </div>
 </footer>

</div>

{% endblock  %}