{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %} | {% trans 'All Contracts Overview' %}{% endblock %}
{% block content %}
<div class="container">
    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}
    <div class="Contracts">
        <div class="boxPlace">
            <h2>Contracts</h2>
            {% for contract in contract %}
                    <div class="boxC">
                        <div class="logoContract">
                            <img src="{% static 'images/contract.png' %}" alt="contract">
                            <h4>{% trans 'Contract' %} {{contract.name}}</h4>

                        </div>
                        <div class="details">
                            <div class="item">
                                <h5>{% trans 'Minimun duration' %}</h5>
                                <h5>{{contract.minimum_duration}}</h5>
                            </div>
                            <div class="item">
                                <h5>{% trans 'Minimun desposite' %}</h5>
                                <h5>$ {{contract.minimum_deposit|intcomma}}</h5>
                            </div>
                            <div class="item">
                                <h5>{% trans 'Garantie percentage' %}</h5>
                                <h5>{{contract.garantie_percentage}}</h5>
                            </div>
                            <div class="item">
                                <h5>{% trans 'Admin clients' %}</h5>
                                <h5>{{contract.admin_clients}}</h5>
                            </div>
                            <div class="item">
                                <h5>{% trans 'Level' %}</h5>
                                <h5>{{contract.level}}</h5>
                            </div>
                        </div>
                    </div>
            {% endfor %}

        </div>
    </div>
    <footer class="footerAbout FooterconT">
        <div class="logo-version">
            <img src="{% static 'images/Layer2.png' %}" alt="Logo">
            <h5>© 2022 All Rights Reserved Goldrobots</h5>
        </div>
     </footer>
</div>

{% endblock %}