{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} | {% trans 'ForgetPassword' %}{% endblock %}


{% block content %}
<body>
    <div class="containerForget">
        
            <form method="POST" class="overlayFor" action="{% url 'reset_password' %}">
                {% csrf_token %}
                
            <div class="popup">
                <h4>{% trans 'Forget your password?' %}</h4>
                <h6 class="guideForget">{% trans "Please enter the email associated with your account and we will send you a link to reset your password." %}</h6>
               
                <br class="NewInputF">
                {{form.as_p}}
                <br>
                <br>
               
                <div class="signForget"><p>{% trans 'Already know your password?' %}</p><a href="{% url 'index' %}">Sign in</a></div>
                <div class="btnLog">
                    <button>{% trans 'Reset Password' %}</button>  
                </div>
                </form>
        </div>
        </div>
</body>

{% endblock %}