{% extends 'base.html' %}
{% load static %}


{% block title %} | ForgetPassword{% endblock %}


{% block content %}
<body>
    <div class="containerForget">
        
            <form method="POST" class="overlayFor" action="{% url 'reset_password' %}">
                {% csrf_token %}
                
            <div class="popup">
                <h4>Forget your password?</h4>
                <h6 class="guideForget">Please enter the email associated with your account and we will send you a link to reset your password.</h6>
               
                <br class="NewInputF">
                {{form.as_p}}
                <br>
                <br>
               
                <div class="signForget"><p>Already know your password?</p><a href="{% url 'index' %}">Sign in</a></div>
                <div class="btnLog">
                    <button>Reset Password</button>  
                </div>
                </form>
        </div>
        </div>
</body>

{% endblock %}