{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %} | {% trans 'Welcome' %}{% endblock %}


{% block content %}
<body>
    <div class="container">
        
        <div id="popup1" class="overlay">
            <form action="{% url 'signin' %}" method="POST">
                {% csrf_token %}
            <div class="popup">
                <a class="close" href="#">&times;</a>
                <h4>{% trans 'Sign In'  %}</h4>
                <div class="boxInput">
                    <div class="logoLogin"><img src="{% static 'images/user.png' %}" alt=""></div>
                    <input type="username" name="username" placeholder="Username" required>
                </div>
                <div class="boxInput">
                    <div class="logoLogin"><img src="{% static 'images/icons8-lock-50.png' %}" alt=""></div>
                    <input type="password" name="password"  placeholder="Password" required>
                </div>
                <div class="remember">
                    <input type="checkbox">
                    <h5>{% trans 'Remember me'  %}</h5>
                </div>
                    <div class="btnLog">
                    <button>{% trans 'Login'  %}</button>
                    </div>
                <a class="forgotP" href="{% url 'reset_password' %}">{% trans 'Forgot your password?'  %}</a>
                <div class="signin"><p>{% trans 'New here?'  %}</p><a href="#popup2">{% trans 'Sign up'  %}</a></div>
           </div></form>
        </div>
        <div id="popup2" class="overlay">
            
                <form action="{% url 'register' %}" method="POST" class="popup">
                    {% csrf_token %}
                <a class="close" href="#">&times;</a>
                <h4>{% trans 'Sign up'  %}</h4>
                <input class="signUpInput" type="text" placeholder="Title*" name="title_signup" required>
                <input class="signUpInput" type="text" placeholder="Username*" name="username_signup" required>
                <input class="signUpInput" type="text" placeholder="First Name*" name="firstname_signup" required>
                <input class="signUpInput" type="text" placeholder="Last Name*" name="lastname_signup" required>
                <input class="signUpInput" type="email" placeholder="Email*" name="email_signup" required>
                <input class="signUpInput" type="password" placeholder="Password*" name="password_signup" required>
                <input class="signUpInput" type="password" placeholder="Confirm Password*" name="password2_signup" required>
                <input class="signUpInput" type="tel" pattern="+[0-9]{2}[0-9]{3}-[0-9]{7}" placeholder="Format: +xxYYY-ZZZZZZZ" name="phone_signup" required>
                <input class="signUpInput" type="text" placeholder="Country*"name="country_signup" required>
                <input class="signUpInput" type="text" placeholder="Preferred Contact Language*" name="language_signup" required>
                <div class="btnLog">
                    <button>{% trans 'Join'  %}</button>
                </div>
                <div class="signin"><p>{% trans 'Already have an account?'  %}</p><a href="#popup1">{% trans 'Sign in'  %}</a></div>
                
            </form>
           
        
        </div>
        <!-- Navbar -->
        {% include 'partials/_navbar.html' %}
       
        {% include 'partials/_messages.html' %}
        
        <div class="MainNav">
            
            <div class="NameCompany">
                
                <img src="{% static 'images/Layer -1.png' %}" alt="LOGO">
                <h3>{% trans 'We design all in one tech solution for the complex<br/>needs of the management industry.' %}</h3>
            </div>
         </div>
         <div class="invest">
            <h2>{% trans 'Reasons to invest in gold' %}</h2>
            <div class="box-place">
                <div class="box">
                    <img src="{% static 'images/gold-bars-1.png' %}" alt="Gold">
                    <h5>{% trans '1.Its easy to buy store and sell' %}</h5>
                    <p>{% trans 'Gold can come in a physical form or it can be...' %}</p>
                </div>
                <div class="box">
                    <img src="{% static 'images/MaskGroup245.jpg' %}" alt="Gold">
                    <h5>{% trans '2.It can help with inflation' %}</h5>
                    <p>{% trans 'while golds ability to battle inflation is incons...' %}</p>
                </div>
                <div class="box">
                    <img src="{% static 'images/MaskGroup246.jpg' %}" alt="Gold">
                    <h5>{% trans '3.It can diversify your portfolio' %}</h5>
                    <p>{% trans 'Gold can help diversify your portfolio. So in the...' %}</p>
                </div>
            </div>
         </div>
         <div class="about">
            <div class="shadow">
                {% trans "Although the U.S. dollar is one of the world's most important reserve currencies, when the value of the dollar falls against other currencies as it did between 1998 and 2008, this often prompts people to flock to the security of gold, which raises gold prices.The price of gold nearly tripled between 1998 and 2008,reaching the $1,000 an ounce milestone in early 2008 and nearly doubling between 2008 and 2012 , hitting above the $2,000 mark. 1 The decline is the U.S. dollar occurred for a number of reasons , including the country's large budget and trade deficits and a large increase in the mony supply." %}
            </div>
         </div>
         <div class="videos">
            <h2>{% trans 'Why you should invest in gold' %}</h2>
            <div class="Mainplace">
                <div class="topVideo">
                <div class="scren">
                    <iframe class="videoStyle" width="560" height="315" src="https://www.youtube.com/embed/PX5-XyBNi00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="scren">
                    <iframe class="videoStyle" width="560" height="315" src="https://www.youtube.com/embed/Dh4DO13DR6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
                <div class="topVideo">
                <div class="scren">
                    <iframe class="videoStyle" width="560" height="315" src="https://www.youtube.com/embed/f7V0NELM8BQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="scren">
                    <iframe class="videoStyle" width="560" height="315" src="https://www.youtube.com/embed/rdB3e-YUkIU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
                
            </div>
         </div>

         <footer class="footermainpage">
            <div class="logo-version">
                <img src="{% static 'images/Layer2.png' %}" alt="Logo">
                <h5>© 2022 All Rights Reserved Goldrobots</h5>
            </div>
         </footer>
        
    </div>

   
    
</body>
</html>


{% endblock  %}


