{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/MainStyle.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Firstpage.css' %}">
    <link rel="stylesheet" href="{% static 'Css/About.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Investment.css' %}">
    <link rel="stylesheet" href="{% static 'Css/News.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Contracts.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Profile.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Setting.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'Css/contract.css' %}">
    <link rel="stylesheet" href="{% static 'Css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'Css/Bank.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="icon" href="{% static 'images/Layer2.png' %}">
    
    <title>Gold Robots{% block title %}{% endblock %}</title>
</head>



<!-- Main Content -->
{% block content %}



{% endblock  %}

<script src="{% static 'js/SlideNews.js' %}"></script>
<script src="{% static 'js/sideBar.js' %}"></script>
<script src="{% static 'js/Map.js' %}"></script>
<script src="{% static 'js/Tab.js' %}"></script>
<script src="{% static 'js/SlideInformation.js' %}"></script>





